*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*Header*/
#setColor-orange{
color: #ffc200;
}

.style-nav-logo{
    font-size: 30px;
}
#setColor-orange{
    color: #ffc200;
}
.nav-link{
    font-size: 20px;
    color: #fff
}
.nav-link:hover{
    color: #ffc200;
}

/*Content*/
.banner{
    background-image: url(../assets/img/canvas.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.texto-maior{
    font-size: 60px;
}
.texto-p{
    font-size: 30px;
}
.cover-btn{
    background-image: url(../assets/img/icon/iconfinder_social_media_btn_bg.png);
    background-position: 50px;
}

/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    background-color: #343A40;
    color: #fff;
}
.cardContainer{
    background-color: #343A40;
}
.cardLink{
    margin-left: 10px;
}
.cardTitle{
    margin-left: 70px;
    margin-bottom: 30px;
}
.texto-equipe{
    margin-top: 30px;
    margin-left: 70px;
    color: rgb(133, 133, 133);
}