*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*Header*/
#setColor-orange{
color: #ffc200;
}

.style-nav-logo{
    font-size: 30px;
}
#setColor-orange{
    color: #ffc200;
}
.nav-link{
    font-size: 20px;
    color: #fff
}
.nav-link:hover{
    color: #ffc200;
}
/*Content*/
.banner{
    background-image: url(../assets/img/canvas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.texto-maior{
    font-size: 60px;
}
.bg-sobre{
    background-image: url(../assets/img//bg-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.texto-p{
    font-size: 30px;
}
.texto-content{
    font-size: 35px;
}
.texto-content-s{
    font-size: 55px;
}

.hover-tip:hover{
    z-index: 1 ;
    transform:  scale(1.1);
    transition:  all 2s;
}
.cambio-align{
    margin-top: 130px;
    margin-bottom: 150px;
}
.business{
    background-image: url(../assets/img/canvas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.texto-serv{
    font-size: 30px;
}

/*ASIDE*/
div#BotaoScroll {
    background-image: url("../assets/img/icon/seta.png");
    width: 1000px;
    height: 42px;
    border-radius: 30px 30px 30px 30px;
  }
  aside#BotaoScroll:hover {
    box-shadow: 1px 2px 6px rgba(182, 82, 82, 0.53);
    -moz-box-shadow: 1px 2px 6px rgba(182, 82, 82, 0.53);
    -webkit-box-shadow: 0px 5px -35px rgba(182, 82, 82, 0.53);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    background-color: #343A40;
    color: #fff;
}
.cardContainer{
    background-color: #343A40;
}
.cardLink{
    margin-left: 10px;
}
.cardTitle{
    margin-left: 70px;
    margin-bottom: 30px;
}
.texto-equipe{
    margin-top: 30px;
    margin-left: 70px;
    color: rgb(133, 133, 133);
}