*{
    padding: 0;
    margin: 0;
}
/*Header*/
.style-nav-logo{
    font-size: 35px;
}
#setColor-orange{
    color: #ffc200;
}
.style-nav-li{
    font-size: 25px;
    padding: 10px;
    color: #fff
}
.style-nav-li:hover{
    color: #ffc200;
}
/*Footer*/
